@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
    border:0;
    background:gainsboro;
    font-family:'Courier New', Courier, monospace;
}

.container{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows:repeat(6, 1fr);
}

.header{
    display:flex;
    flex-direction:column;
    padding:20px;
    background:ghostwhite;
    grid-column: 2/7;
}
.header .top{
    display:flex;
    align-items:center;
}
.header .bottom{
    display:flex;
    justify-content:space-between;
}
.header .bottom .profile{
    display:flex;
    align-items: center;
}
.header .bottom .profile img{
    width:6rem;
    border-radius: 6rem;
}
.header .bottom .image button{
    padding:15px 40px;
    margin-top:50px;
    margin-left:30px;
    border:0;
    border-radius:40px;
    background:dodgerblue;
    color:white;
    font-size:15px;
    font-weight:1000px;
}
.bell{
    margin-left:200px;
}
.profile_img{
    border-radius:30px;
}
input{
    width:60%;
    font-size:22px;
    padding:10px;
    border-radius:30px;
    border:0;
    background:lightskyblue;
}
.header div svg{
    width:40px;
}
.top h3{
    font-size:22px;
}

.dashboard{
    padding:50px;
    color:white;
    background:dodgerblue;
    grid-column: 1/2;
    grid-row: 1/7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list div{
    display:flex;
    align-items: center;
}
.list_svg{
    width:20px;
}
.body{
    padding:40px 0px 0px 40px;
    background:gainsboro;
    grid-column:2/6;
    grid-row: 2/7;
}
.body p{
    font-size:23px;
    font-weight:700;
}


.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, 520px);
}
.projects div{
    padding:50px;
    background:linear-gradient(
        to right,
        goldenrod 0%,
        goldenrod 5%,
        ghostwhite 5%,
        ghostwhite 100%)
        ;
    margin:1rem;
    border-radius:20px;
} 
.projects div p{
    font-size:12px;
    color:dimgray;
}
.svg_1, .svg_2{
    width:22px;
    margin-bottom:-20px;
}
.svg_1{
    margin-left:300px;
}

.announcements{
    padding:40px 20px 0px 0px;
    background:gainsboro;
    grid-row: 2/4;
}
.announcements div{
    background:ghostwhite;
    padding:10px;
    border-radius: 30px;
    margin-top: 1rem;
}
.announcements div div{
    padding:10px;    
}
.announcements div div p{
    font-size: 12px;
    color:dimgray;
}

.trending{
    padding:0px 10px 0px 0px;
    grid-row:4/7;
}
.trending .trending_list{
    background:ghostwhite;
    padding:20px;
    border-radius:30px;
    margin-top:1rem;
}
.trending .trending_list div{
    padding:5px 0;
}
.trending .trending_list p{
    color:dimgray;
}
img{
    width:50px;
    border-radius: 20px;
    margin:10px;
}
.trending_list div{
    display:flex;
    align-items: space-around;
}
.trending_list div div{
    display:flex;
    flex-direction:column;
}




